<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家长会预约系统 - 家长主页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <a href="/logout" class="logout-btn">登出</a>
    <div id="app">
        <h1>欢迎，{{ t_name }}</h1>

        <div id="teacher-screen" class="screen active">
            <div class="container">
                
               
            </div>
        </div>

        <div id="schedule-screen" class="screen">
            <div class="container">
                
            </div>
        </div>
        <a href="/appointment">新建预约</a>
    </div>
    
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parent.js') }}"></script>
</body>
</html>