<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家长会预约系统 - 教师主页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <a href="/logout" class="logout-btn">登出</a>
    <div id="app">
        <h1>欢迎，{{ t_name }}</h1>
        <a href="/teacher/ontime">查看当前约谈情况</a>
        <a href="/teacher/list">查看所有预约家长</a>
        <a href="/teacher/setting">设置</a>
    </div>

    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/teacher.js') }}"></script>
</body>
</html>